<div class="layout-sidebar">
    <!-- TOP SECTION -->
    <div class="layout-menu-top">
        <!-- Logo -->
        <div class="menu-logo">
            <a [routerLink]="['/']">
                <img src="logo.jpeg" alt="Sakai Logo" />
            </a>
        </div>

        <!-- Main Menu Items -->
        <ul class="layout-menu">
            <ng-container *ngFor="let item of model; let i = index">
                <li
                    app-menuitem
                    *ngIf="!item.separator"
                    [item]="item"
                    [index]="i"
                    [root]="true"
                ></li>
                <li *ngIf="item.separator" class="menu-separator"></li>
            </ng-container>
        </ul>
    </div>

    <!-- BOTTOM SECTION -->
    <div class="layout-menu-bottom">
        <!-- Theme Toggle -->
        <div class="theme-toggle" (click)="toggleTheme()">
            <i
                class="layout-menuitem-icon pi"
                [ngClass]="layoutService.isDarkTheme() ? 'pi-sun' : 'pi-moon'"
            ></i>
            <span class="layout-menuitem-text">
                {{ layoutService.isDarkTheme() ? 'Light Mode' : 'Dark Mode' }}
            </span>
        </div>

        <!-- User Avatar -->
        <div class="user-avatar" (click)="onUserClick()">
            <i class="layout-menuitem-icon pi pi-user"></i>
            <span class="layout-menuitem-text">User Profile</span>
        </div>
    </div>
</div>
