<ul class="layout-menu">
    <!-- Logo -->
    <li class="menu-logo">
        <a [routerLink]="['/']">
            <img src="logo.jpeg" alt="Sakai Logo" class="h-14 mr-2" />
        </a>
    </li>

    <!-- Main Menu Items -->
    <ng-container *ngFor="let item of model.slice(0, -1); let i = index">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true" class="mb-4"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>

    <!-- Bottom Menu Items -->
    <ng-container *ngFor="let item of model.slice(-1); let i = index">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true" class="layout-root-menuitem-bottom"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>